<.simple_form :let={f} for={@changeset} method={"post"}  action={~p"/topics/new"}>
  <.input field={f[:title]} type="text" label="Title" />
  <:actions>
    <.button>Save Topic</.button>
  </:actions>
</.simple_form>