<.simple_form :let={f} for={@changeset} method="put" action={~p"/#{@topic.id}"}>
  <.input field={f[:title]} type="text" label="Title" />
  <:actions>
    <.button>Save Topic</.button>
  </:actions>
</.simple_form>
