<h5>{@topic.title}</h5>

<div class="input-field">
  <textarea class="materialize-textarea" placeholder="Write your comment..."></textarea>

  <button class="btn waves-effect waves-light blue" type="button">
    <i class="material-icons left">send</i> Add Comment
  </button>

  <ul class="collection"></ul>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    window.createSocket(<%= @topic.id %>);
  });
</script>
